/* CONTAINER */
.search-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BARRA DE BUSCA */
.search-box {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 10px 15px;
  border-radius: 25px;
  width: 400px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.search-box input {
  border: none;
  outline: none;
  flex: 1;
  margin-left: 10px;
}

.icon {
  font-size: 18px;
}

/* LISTA */
.employee-list {
  margin-top: 20px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 👈 3 colunas */
  gap: 10px;
}

/* ITEM */
.employee-item {
  background: #fff;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  transition: 0.2s;
}

.employee-item:hover {
  background: #f1f1f1;
}

/* PAGINAÇÃO */
.pagination {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.pagination button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #3498db;
  color: white;
}

.pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.employee-details {
  margin-top: 20px;
  width: 80%;
}

.details-grid {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.back-btn {
  margin-bottom: 10px;
  padding: 6px 10px;
  border: none;
  background: #3498db;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.back-btn:hover {
  background: #2980b9;
}

/* CONTAINER */
.employee-details {
  margin-top: 20px;
  width: 80%;
}

/* GRID */
.details-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

/* ITEM */
.detail-item {
  background: #fff;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

/* LABEL */
.detail-item span {
  font-size: 12px;
  color: #777;
}

/* VALOR */
.detail-item strong {
  font-size: 15px;
  margin-top: 4px;
}

.edit-title {
  font-size: 20px;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
