.spouse-grid {
  display: grid;

  grid-template-columns: 1fr;

  gap: 14px;
}

.spouse-docs-grid {
  display: grid;

  grid-template-columns:
    120px
    200px
    200px
    160px
    140px
    88px;

  gap: 12px;

  align-items: center;
}
.spouse-extra-grid {
  display: grid;

  grid-template-columns:
    160px
    1fr
    90px
    160px;

  gap: 12px;

  align-items: center;
}
